{{ define "content" }}
<div class="header-bg">
  <div class="row">
    <div class="two columns">
    </div>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <h1 class="header_text">MVX GREEN</h1>
  </div>
</div>
<div class="container">
  <div class="row row-hr">
  <div class="three columns soundcloud">
    <a class="cta-button-white" data-destination="soundcloud" href="http://mvxgreen.com/soundcloud">
      <span>Music</span>
    </a>
  </div>
  <div class="three columns soundcloud">
    <a class="cta-button-white" data-destination="soundcloud" href="http://mvxgreen.com/soundcloud">
      <span>Music</span>
    </a>
  </div>
  <div class="three columns soundcloud">
    <a class="cta-button-white" data-destination="soundcloud" href="http://mvxgreen.com/soundcloud">
      <span>Music</span>
    </a>
  </div>
  <div class="three columns soundcloud">
    <a class="cta-button-white" data-destination="soundcloud" href="http://mvxgreen.com/soundcloud">
      <span>Music</span>
    </a>
  </div>
</div>
{{end}}
