{{ define "content" }}
<div class="container">
  <div id="top-row" class="row">
    <div class="twelve columns">
      <h1 id="top-header" class="top-header">MVX GREEN</h1>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <amp-carousel class="carousel2"
        layout="responsive"
        height="400"
        width="500"
        type="slides">
        <div class="slide">

        </div>
      </amp-carousel>
    </div>
    <div class="six columns instagram">
      <!--Travis Scott-->
      <amp-instagram data-shortcode="BdNdBeNFY9T"
        width="600"
        height="450"
        layout="responsive">
      </amp-instagram>
    </div>
    <!--Lil Uzi epic stage dive-->
    <div class="six columns instagram">
      <amp-instagram data-shortcode="BT9pmv6A-a-"
        width="600"
        height="450"
        layout="responsive">
      </amp-instagram>
    </div>
  </div>
  <div class="row">
    <div class="six columns instagram">
      <!--Mark Zuckerberg-->
      <amp-instagram data-shortcode="BEF161YweQU"
        width="600"
        height="450"
        layout="responsive">
      </amp-instagram>
    </div>
    <div class="six columns instagram">
      <!--SZA <3<3<3-->
      <amp-instagram data-shortcode="BUTCcPtD7AL"
        width="600"
        height="450"
        layout="responsive">
      </amp-instagram>
    </div>
  </div>
  <div class="row">
    <div class="six columns instagram">
      <!--Scott & Ramona-->
      <amp-instagram data-shortcode="BEecZ-dBnfF"
        width="600"
        height="450"
        layout="responsive">
      </amp-instagram>
    </div>
    <div class="six columns instagram">
      <!--Kid Cudi fan art 1-->
      <amp-instagram data-shortcode="BPWIoGGgc1r"
        width="600"
        height="450"
        layout="responsive">
      </amp-instagram>
    </div>
  </div>
  <div class="row">
    <div class="six columns instagram">
      <!--Post Malone-->
      <amp-instagram data-shortcode="BbhWHBUlyJv"
        width="600"
        height="450"
        layout="responsive">
      </amp-instagram>
    </div>
    <div class="six columns instagram">
      <!--Josh Gordon-->
      <amp-instagram data-shortcode="8qy2x1wjXG"
        width="600"
        height="450"
        layout="responsive">
      </amp-instagram>
    </div>
  </div>
  <div class="scrollToTopButton">
      <amp-animation id="showAnim"
        layout="nodisplay">
        <script type="application/json">
          {
            "duration": "200ms",
            "fill": "both",
            "iterations": "1",
            "direction": "alternate",
            "animations": [{
              "selector": "#scrollToTopButton",
              "keyframes": [{
                "opacity": "1",
                "visibility": "visible"
              }]
            }]
          }
        </script>
      </amp-animation>
      <amp-animation id="hideAnim"
        layout="nodisplay">
        <script type="application/json">
          {
            "duration": "200ms",
            "fill": "both",
            "iterations": "1",
            "direction": "alternate",
            "animations": [{
              "selector": "#scrollToTopButton",
              "keyframes": [{
                "opacity": "0",
                "visibility": "hidden"
              }]
            }]
          }
        </script>
      </amp-animation>
      <div id="marker">
        <amp-position-observer on="enter:hideAnim.start; exit:showAnim.start"
          layout="nodisplay">
        </amp-position-observer>
      </div>
      <button id="scrollToTopButton"
        on="tap:top-row.scrollTo(duration=200)"
        class="scrollToTop">⌃</button>
    </div>
  </div>
</div>
{{end}}
