{{ define "content" }}
<div class="header-bg">
  <div class="row">
    <div class="two columns">
    </div>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <h1 class="header_text">MVX GREEN</h1>
  </div>
</div>
<div id="body-bg">
  <div id="triangle-topright"></div>
</div>
<div class="footer-bg">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="nav-logo nav-logo-footer"></div>
      </div>
    </div>
  </div>
</div>
{{end}}
